/* Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Jersey+20&display=swap");

.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.495);
  font-family: "Jersey 20";
  padding: 10px;
}

h1 {
  text-align: center;
  color: chartreuse;
}

p {
  text-align: center;
  color: black;
}

header {
  background-color: rgb(73, 80, 86);
  border-radius: 6px;
  margin: 15px 0;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* vertical */
  align-items: center; /* horizontal */
}

#principal {
  display: flex;
  height: 800px;
  width: 100%;
  border-radius: 6px;
  justify-content: space-between;
}

main {
  background-color: rgb(73, 80, 86);
  border-radius: 6px;
  height: 100%;
  width: 50%;
  margin-left: 100px;
}

aside {
  background-color: chartreuse;
  border-radius: 6px;
  width: 50%;
  height: 100%;
  margin-right: 100px;
}

footer {
  background-color: rgba(73, 80, 86);
  border-radius: 6px;
  margin: 10px 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical */
  align-items: center; /* Horizontal */
}

footer p {
  font-size: 1.2rem;
  color: black;
}

footer a {
  color: chartreuse;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid rgba(127, 255, 0);
}

#profile-image {
    width: 60px;
    width: 60px;
    border-radius: 50%;
}